In [1]:
#importing libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
def download_player_html(playerID):
    last_initial = playerID[0]
    url_base = "https://www.basketball-reference.com/players/{}/{}.html"
    url = url_base.format(last_initial, playerID)
    data = requests.get(url)
     
    #page is saved as an html and placed in Players folder
    with open("Players/{}.html".format(playerID), "w+", encoding = "utf-8") as f:
        f.write(data.text)

In [3]:
def sort_rookies_FTA(csv_file):
    rookie = pd.read_csv(csv_file)
    rookie_FTA = rookie[rookie["FTA"] > 0]
    rookie_FTA_sorted = rookie_FTA.sort_values("FTA", ascending=False)
    rookie_FTA_top_100 = rookie_FTA_sorted.head(100)
    return rookie_FTA_top_100

In [4]:
def get_3PT_percentage_5yrs(playerID):
    text_list = []
        
#   open and read Player HTML page    
    with open("Players/{}.html".format(playerID), encoding = "utf-8") as r:
        page = r.read()
    
# create beautiful soup object from HTML
    soup = BeautifulSoup(page, "html.parser")
 
    #returning 5 seasons worth of "fg3_pct" = tr[4]td[13]
    for i in range(5):
        out = [tr.get_text() for tr in soup.select("tr.full_table")[i]]
        if out[13] != '':
            text_list.append(float(out[13]))
    r.close()
    return text_list

## Import and Sort DataFrames

### Import Rookie Seasonal Data from Archived CSV

In [5]:
top_100_rookies_FTA = sort_rookies_FTA('Spreadsheets/NBA_Rookies_90-16.csv')

### Filter top FTA rookies with at least one 3PT make

In [6]:
#of the top 100 rookies with the most FTA, which made least one made three point shot
top_FTA_rookies_3PT = top_100_rookies_FTA[top_100_rookies_FTA["3P%"] > 0]

### Clean up DataFrame

In [7]:
top_FTA_rookies_3PT = top_FTA_rookies_3PT.reset_index(drop=True)

### Print DataFrame and verify attributes

In [8]:
print(top_FTA_rookies_3PT)
print(type(top_FTA_rookies_3PT))
print(len(top_FTA_rookies_3PT))

                 Player                     Debut  Age  Yrs   G    MP   FG  \
0         Blake Griffin  Oct 27, '10, LAC vs. POR   21    1  82  3112  696
1    Christian Laettner     Nov 6, '92, MIN @ BOS   23    1  81  2823  503
2        Allen Iverson*   Nov 1, '96, PHI vs. MIL   21    1  76  3045  625
3       Carmelo Anthony  Oct 29, '03, DEN vs. SAS   19    1  82  2995  624
4   Shareef Abdur-Rahim   Nov 1, '96, VAN vs. POR   20    1  80  2802  550
..                  ...                       ...  ...  ...  ..   ...  ...
74         Isaiah Rider     Nov 5, '93, MIN @ DET   22    1  79  2415  522
75    Richard Jefferson  Oct 30, '01, NJN vs. IND   21    1  79  1917  270
76        Lamond Murray   Nov 4, '94, LAC vs. POR   21    1  81  2556  439
77         Marcus Camby   Nov 1, '96, TOR vs. NYK   22    1  63  1897  375
78        Nick Anderson   Nov 4, '89, ORL vs. NJN   22    1  81  1785  372

     FGA   3P  3PA  ...   PTS    FG%    3P%    FT%  MP.1  PTS.1  TRB.1  AST.1  \
0   1376    7   24  ...  1845  0.506  0.292  0.642  38.0   22.5   12.1    3.8
1   1061    4   40  ...  1472  0.474  0.100  0.835  34.9   18.2    8.7    2.8
2   1504  155  455  ...  1787  0.416  0.341  0.702  40.1   23.5    4.1    7.5
3   1465   69  214  ...  1725  0.426  0.322  0.777  36.5   21.0    6.1    2.8
4   1214    7   27  ...  1494  0.453  0.259  0.746  35.0   18.7    6.9    2.2
..   ...  ...  ...  ...   ...    ...    ...    ...   ...    ...    ...    ...
74  1115   54  150  ...  1313  0.468  0.360  0.811  30.6   16.6    4.0    2.6
75   591   13   56  ...   742  0.457  0.232  0.713  24.3    9.4    3.7    1.8
76  1093   65  218  ...  1142  0.402  0.298  0.754  31.6   14.1    4.4    1.6
77   778    2   14  ...   935  0.482  0.143  0.693  30.1   14.8    6.3    1.5
78   753    1   17  ...   931  0.494  0.059  0.705  22.0   11.5    3.9    1.5

    Year      BR ID
0   2011  griffbl01
1   1993  laettch01
2   1997  iversal01
3   2004  anthoca01
4   1997  abdursh01
..   ...        ...
74  1994  rideris01
75  2002  jefferi01
76  1995  murrala01
77  1997  cambyma01
78  1990  anderni01

[79 rows x 29 columns]
<class 'pandas.core.frame.DataFrame'>
79

In [9]:
#getting player 3PT data five years
print(top_FTA_rookies_3PT[["Player","FTA", "FT%", "3P%", "BR ID", "Year"]])
print(type(top_FTA_rookies_3PT[["Player","FTA", "FT%", "3P%", "BR ID", "Year"]]))

                 Player  FTA    FT%    3P%      BR ID  Year
0         Blake Griffin  695  0.642  0.292  griffbl01  2011
1    Christian Laettner  553  0.835  0.100  laettch01  1993
2        Allen Iverson*  544  0.702  0.341  iversal01  1997
3       Carmelo Anthony  525  0.777  0.322  anthoca01  2004
4   Shareef Abdur-Rahim  519  0.746  0.259  abdursh01  1997
..                  ...  ...    ...    ...        ...   ...
74         Isaiah Rider  265  0.811  0.360  rideris01  1994
75    Richard Jefferson  265  0.713  0.232  jefferi01  2002
76        Lamond Murray  264  0.754  0.298  murrala01  1995
77         Marcus Camby  264  0.693  0.143  cambyma01  1997
78        Nick Anderson  264  0.705  0.059  anderni01  1990

[79 rows x 6 columns]
<class 'pandas.core.frame.DataFrame'>

## Downloading Player Pages

In [22]:
#segmenting "BR ID" series into thirds to avoid site restrictions
top_third = top_FTA_rookies_3PT["BR ID"].iloc[0:28]
mid_third = top_FTA_rookies_3PT["BR ID"].iloc[28:56]
bottom_third = top_FTA_rookies_3PT["BR ID"].iloc[56:]

In [21]:
#printing the segmented series' "BR ID"s
print("Top Third:")
print(top_third)
print(type(top_third))

print("Middle Third:")
print(mid_third)

print("Bottom Third:")
print(bottom_third)

Top Third:
0     griffbl01
1     laettch01
2     iversal01
3     anthoca01
4     abdursh01
5     stackje01
6      hillgr01
7     robingl01
8     stoudam01
9     gasolpa01
10    wiggian01
11    evansty01
12     paulch01
13    jamesle01
14    duranke01
15    colemde01
16    mashbja01
17    simmoli01
18    westbru01
19     odomla01
20    bakervi01
21    johnsla02
22    weathcl01
23    marcisa01
24    couside01
25     walljo01
26    smithjo02
27    butleca01
Name: BR ID, dtype: object
<class 'pandas.core.series.Series'>
Middle Third:
28     mingya01
29    kirilan01
30    cartemi01
31    walkean02
32    francst01
33    grantbr01
34    gordoer01
35    fortsda01
36    marbust01
37     loveke01
38     maystr01
39    hardaan01
40    douglsh01
41    finlemi01
42    lillada01
43    augmost01
44    oladivi01
45    ellisla01
46    anderde01
47     wadedw01
48    owensbi01
49    sabonar01
50    vanhoke01
51    williwa02
52    ilgauzy01
53    willier01
54      dayto01
55    stoudda01
Name: BR ID, dtype: object
Bottom Third:
56    burtowi01
57    millean02
58    thornal01
59     boshch01
60    mirotni01
61    battish01
62    sprewla01
63    guglito01
64     mayooj01
65    artesro01
66    hardati01
67     kiddja01
68    townska01
69    jennibr01
70    flynnjo01
71    gordobe01
72    cartevi01
73    billuch01
74    rideris01
75    jefferi01
76    murrala01
77    cambyma01
78    anderni01
Name: BR ID, dtype: object

In [23]:
#for loop to download first third of player pages
for playerIDs in top_third:
    print(playerIDs)
    download_player_html(playerIDs)

griffbl01
laettch01
iversal01
anthoca01
abdursh01
stackje01
hillgr01
robingl01
stoudam01
gasolpa01
wiggian01
evansty01
paulch01
jamesle01
duranke01
colemde01
mashbja01
simmoli01
westbru01
odomla01
bakervi01
johnsla02
weathcl01
marcisa01
couside01
walljo01
smithjo02
butleca01

In [ ]:
#for loop to download middle third of player pages
for playerIDs in mid_third:
    print(playerIDs)
    download_player_html(playerIDs)

In [ ]:
#for loop to download last third of player pages
for playerIDs in bottom_third:
    print(playerIDs)
    download_player_html(playerIDs)

## Creating BR ID and 5 year 3P% Dataframe

### for loop

In [13]:
#single list object soon to house other lists
BR_ID_and_3PT_list =[]

In [14]:
for playerID in top_FTA_rookies_3PT["BR ID"]:
    temp_list = get_3PT_percentage_5yrs(playerID)
    temp_list.insert(0, playerID)
    BR_ID_and_3PT_list.append(temp_list)

In [15]:
#checking to see that this list is indeed list of lists: outerList[[innerList_1], [innerList_2],...[innerList_n]]
BR_ID_and_3PT_list

[['griffbl01', 0.292, 0.125, 0.179, 0.273, 0.4],
 ['laettch01', 0.1, 0.24, 0.325, 0.231, 0.352],
 ['iversal01', 0.341, 0.298, 0.291, 0.341, 0.32],
 ['anthoca01', 0.322, 0.266, 0.243, 0.268, 0.354],
 ['abdursh01', 0.259, 0.412, 0.306, 0.302, 0.188],
 ['stackje01', 0.318, 0.298, 0.241, 0.278, 0.288],
 ['hillgr01', 0.148, 0.192, 0.303, 0.143, 0.0],
 ['robingl01', 0.321, 0.342, 0.35, 0.385, 0.392],
 ['stoudam01', 0.2, 0.2, 0.188, 0.0, 0.0],
 ['gasolpa01', 0.2, 0.1, 0.267, 0.167, 0.25],
 ['wiggian01', 0.31, 0.3, 0.356, 0.331, 0.339],
 ['evansty01', 0.255, 0.291, 0.202, 0.338, 0.221],
 ['paulch01', 0.282, 0.35, 0.369, 0.364, 0.409],
 ['jamesle01', 0.29, 0.351, 0.335, 0.319, 0.315],
 ['duranke01', 0.288, 0.422, 0.365, 0.35, 0.387],
 ['colemde01', 0.342, 0.303, 0.232, 0.314, 0.233],
 ['mashbja01', 0.284, 0.328, 0.343, 0.325, 0.303],
 ['simmoli01', 0.273, 0.2, 0.091, 0.353, 0.375],
 ['westbru01', 0.271, 0.221, 0.33, 0.316, 0.323],
 ['odomla01', 0.36, 0.316, 0.19, 0.326, 0.298],
 ['bakervi01', 0.2, 0.292, 0.208, 0.278, 0.143],
 ['johnsla02', 0.227, 0.254, 0.238, 0.386, 0.366],
 ['weathcl01', 0.25, 0.235, 0.19, 0.0, 0.167],
 ['marcisa01', 0.256, 0.167, 0.3, 0.2, 0.402],
 ['couside01', 0.167, 0.143, 0.182, 0.0, 0.25],
 ['walljo01', 0.296, 0.071, 0.267, 0.351, 0.3],
 ['smithjo02', 0.357, 0.261, 0.0, 0.0, 1.0],
 ['butleca01', 0.318, 0.238, 0.304, 0.342, 0.25],
 ['mingya01', 0.5, 0.0, 0.0, 0.0],
 ['kirilan01', 0.25, 0.325, 0.338, 0.299, 0.308],
 ['cartemi01', 0.264, 0.235, 0.273, 0.234, 0.237],
 ['walkean02', 0.327, 0.312, 0.369, 0.256, 0.367],
 ['francst01', 0.345, 0.396, 0.324, 0.354, 0.292],
 ['grantbr01', 0.25, 0.235, 0.0],
 ['gordoer01', 0.389, 0.371, 0.364, 0.25, 0.324],
 ['fortsda01', 0.333, 0.0, 0.25],
 ['marbust01', 0.354, 0.313, 0.335, 0.283, 0.328],
 ['loveke01', 0.105, 0.33, 0.417, 0.372, 0.217],
 ['maystr01', 0.365, 0.5, 0.345, 0.0, 0.365],
 ['hardaan01', 0.267, 0.349, 0.314, 0.318, 0.3],
 ['douglsh01', 0.161, 0.129, 0.1, 0.207, 0.232],
 ['finlemi01', 0.328, 0.361, 0.357, 0.331, 0.401],
 ['lillada01', 0.368, 0.394, 0.343, 0.375, 0.37],
 ['augmost01', 0.167, 0.0, 0.143, 0.269, 0.25],
 ['oladivi01', 0.327, 0.339, 0.348, 0.361, 0.371],
 ['ellisla01', 0.154, 0.304, 0.182, 0.367],
 ['anderde01', 0.202, 0.304, 0.309, 0.399, 0.373],
 ['wadedw01', 0.302, 0.289, 0.171, 0.266, 0.286],
 ['owensbi01', 0.111, 0.091, 0.2, 0.091, 0.278],
 ['sabonar01', 0.375, 0.371, 0.261, 0.292, 0.368],
 ['vanhoke01', 0.308, 0.302, 0.368, 0.382, 0.345],
 ['williwa02', 0.319, 0.288, 0.348, 0.389, 0.4],
 ['ilgauzy01', 0.25, 0.0, 0.0, 0.0],
 ['willier01', 0.3, 0.25, 0.231, 0.347],
 ['dayto01', 0.293, 0.223, 0.39, 0.331, 0.362],
 ['stoudda01', 0.395, 0.355, 0.299, 0.31, 0.377],
 ['burtowi01', 0.133, 0.4, 0.333, 0.2, 0.385],
 ['millean02', 0.204, 0.266, 0.253, 0.213, 0.185],
 ['thornal01', 0.331, 0.253, 0.355, 0.154, 0.331],
 ['boshch01', 0.357, 0.3, 0.0, 0.343, 0.4],
 ['mirotni01', 0.316, 0.39, 0.342, 0.377, 0.365],
 ['battish01', 0.373, 0.398, 0.349, 0.395, 0.394],
 ['sprewla01', 0.369, 0.361, 0.276, 0.323, 0.354],
 ['guglito01', 0.281, 0.27, 0.323, 0.302, 0.258],
 ['mayooj01', 0.384, 0.383, 0.364, 0.364, 0.407],
 ['artesro01', 0.314, 0.291, 0.312, 0.336, 0.31],
 ['hardati01', 0.274, 0.385, 0.338, 0.33, 0.378],
 ['kiddja01', 0.272, 0.336, 0.37, 0.313, 0.366],
 ['townska01', 0.341, 0.367, 0.421, 0.4, 0.412],
 ['jennibr01', 0.374, 0.323, 0.332, 0.375, 0.337],
 ['flynnjo01', 0.358, 0.31, 0.294, 0.358, 0.31],
 ['gordobe01', 0.405, 0.435, 0.413, 0.41, 0.41],
 ['cartevi01', 0.288, 0.403, 0.408, 0.387, 0.344],
 ['billuch01', 0.329, 0.362, 0.171, 0.376, 0.394],
 ['rideris01', 0.36, 0.351, 0.371, 0.385, 0.321],
 ['jefferi01', 0.232, 0.25, 0.364, 0.337, 0.319],
 ['murrala01', 0.298, 0.319, 0.341, 0.353, 0.33],
 ['cambyma01', 0.143, 0.0, 0.5, 0.125],
 ['anderni01', 0.059, 0.293, 0.353, 0.353, 0.322]]

In [16]:
#create new dataframe with rookie ID and 5 years worth of 3P% data
rookie_df = pd.DataFrame(BR_ID_and_3PT_list, columns=['BR ID', 'Yr1', 'Yr2', 'Yr3', 'Yr4', 'Yr5'])

In [17]:
#verify the database infromation
rookie_df

        BR ID    Yr1    Yr2    Yr3    Yr4    Yr5
0   griffbl01  0.292  0.125  0.179  0.273  0.400
1   laettch01  0.100  0.240  0.325  0.231  0.352
2   iversal01  0.341  0.298  0.291  0.341  0.320
3   anthoca01  0.322  0.266  0.243  0.268  0.354
4   abdursh01  0.259  0.412  0.306  0.302  0.188
..        ...    ...    ...    ...    ...    ...
74  rideris01  0.360  0.351  0.371  0.385  0.321
75  jefferi01  0.232  0.250  0.364  0.337  0.319
76  murrala01  0.298  0.319  0.341  0.353  0.330
77  cambyma01  0.143  0.000  0.500  0.125    NaN
78  anderni01  0.059  0.293  0.353  0.353  0.322

[79 rows x 6 columns]

## Plotting Using Seaborn

In [18]:
tips = sns.load_dataset("tips")

In [19]:
tips.head(10)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

In [20]:
sns.relplot(data=rookie_df, x="total_bil", y="tip", hue="day")

ValueError: Could not interpret value `total_bil` for parameter `x`

In [ ]:
FTA_3Pper_plot = sns.relplot(x=rookie_FTA_top_30["3P%"]>0, y=rookie_FTA_top_30["FTA"])

In [ ]:
FTA_3Pper_plot = sns.relplot(data=rookie_FTA_top_30, x="3P%", y="FTA")

In [ ]:
FTA_plot = sns.relplot(x="Player", y="FTA", data=rookie_FTA_top_30)

In [ ]:
FTA_plot = FTA_plot.set